<header>
        <div class="header_left">
            <a href="{{shop.url}}">{{ 'logo.png' | asset_url | img_tag: 'The Soap Store', 'header_logo' }}</a>

        </div>
        
        {% include 'menu_pc' %}
        
        <!-- <div class="header_right">
            <a class="cart_pc" href="./cart.html"><i class="fas fa-shopping-cart"></i></a>
            <a class="instagram_pc" href="https://www.instagram.com/doublesiks_official/?hl=ja"><i class="fab fa-instagram"></i></a>
        </div> -->


        {% include 'menu_sp' %}

    </header>

    

    {% schema %}
        {
            "name":"Header Menu",
            "settings":[
                {
                    "type" : "link_list",
                    "id" : "main_linklist",
                    "label" : "Menu",
                    "default" : "main-menu"
                }
            ]
        }
    {% endschema %}
