  <div class="special">
    <div class="special__contents flex" id="item01">
      <img src="{{ 'jambo_concept.jpg' | asset_img_url: '1200x'}}" alt="" class="Imgside">
      
      <div class="txt-side">
        <div class="txt-side__txt">

          <p class="min">ONLINE SHOP</p>
          <h2>オンライン販売商品について</h2>
          <p class="detail">コロンビア現地でのカカオ自社農園から、チョコレートの製造、湘南自社工場での開発・生産、そして販売まで、MAISON CACAOは全ての工程を、厳しい基準のもと行っています。それはゆるぎないおいしさへのこだわりから。MAISON CACAOによってあらゆる人に幸せをお届けするのが私たちの願いです。</p>
        </div>
      </div>
    </div>
    <div class="special__contents flex" id="item02">
       <img src="{{ 'shop-image.png' | asset_img_url: '1200x'}}" alt="" class="Imgside">
      <div class="txt-side">
        <div class="txt-side__txt">

          <p class="min">OUR CONCEPT</p>
          <h2>焼肉ジャンボについて</h2>
          <p class="detail">食を通じて人々に感動を創業当時からどこにも真似できない唯一無二の味を追求してきました。試行錯誤を重ね、その”型破り”が今のジャンボの”スタイル”となりました。そんな伝統と革新の味を是非ご賞味ください。</p>
        </div>
      </div>
    </div>
  </div>


    <div class="special__btn">
      <ul class="tab flex">
        <li><a href="#item01">オンライン販売商品について</a></li>
        <li><a href="#item02">私たちについて</a></li>
      </ul>

    </div>
  </div>