  <section class="sec05 sec">
    <div class="bkimg__contents flex">
      <div class="bkimg__contents__txtBox">
        <p class="min">店舗、イベントでも食べれないハンバーグ</p>
        <h2>オンライン限定ハンバーグメニュー</h2>
        <a href="{{ 'Burg' | url_for_type }}" class="Btn bgleft">
          <span>詳しくはこちら＞</span>
        </a>
        

      </div>
    </div>

  </section>





