  <section class="sec sec03">
    <h2>土曜限定販売の大人気商品</h2>

{% assign product = all_products[section.settings.product] %}




    <div class="popular_product flex">
      <img src="img/shabazouSquare.jpg" alt="" class="img">
      <div class="product__detail">
        <div class="product__detail__main">
          <h2><span>{{product.title}}</span></h2>
          <p class="price">{{product.price}}</p>
        </div>
        <div class="product__detail__text">

          {{product.content}}
        </div>
        <div class="counter">
          <span><i class="fas fa-minus"></i></span>
          <span>1</span>
          <span><i class="fas fa-plus"></i></span>
        </div>
        <button href="#" class="Btn02 bgleft02">
          <span>カートに追加する</span>
        </button>
        <a href="/product.html" class="link__detail">詳細を見る</a>
      </div>
    </div>

  </section>


  {% schema %}
{

  "name": "Recommend_Product",
  "settings": [

  {
    "type": "product",
    "id": "product",
    "label": "Product"
  }


  ]
}
{% endschema %}

