  <div class="special">
    <div class="special__contents flex" id="item01">
      <img src="{{ 'jambo_concept.jpeg' | asset_img_url: '1200x'}}" alt="" class="Imgside">
      
      <div class="txt-side">
        <div class="txt-side__txt">

          <p class="min">ONLINE SHOP</p>
          <h2>オンライン販売商品について</h2>
          <p class=“detail”>「行きたいけど予約が取れない」<br>そんな耳に痛いお言葉を、幾年にもわたり、ありがたくも頂戴しておりました。<br>ご家庭での“ジャンボ“を、皆様のご期待を裏切らない品質にするべく、開発・生産・販売、すべての工程を、厳しい基準に則ったセントラルキッチンにて一貫して行っております。<br>世界に誇れる厳選された“黒毛和牛“を、頑ななまでにこだわりぬいた職人達の“技術“と”味“で。<br>当サイトの商品で、皆様の日常をほんの少しでも彩ることが出来ましたら、我々にとってそれほどうれしい事はございません。</p>         </div>
      </div>
    </div>
    <div class="special__contents flex" id="item02">
       <img src="{{ 'shop-image.png' | asset_img_url: '1200x'}}" alt="" class="Imgside">
      <div class="txt-side">
        <div class="txt-side__txt">

          <p class="min">OUR CONCEPT</p>
          <h2>焼肉ジャンボについて</h2>
          <p class="detail">食を通じて人々に感動を創業当時からどこにも真似できない唯一無二の味を追求してきました。試行錯誤を重ね、その”型破り”が今のジャンボの”スタイル”となりました。そんな伝統と革新の味を是非ご賞味ください。</p>
        </div>
      </div>
    </div>
  </div>


    <div class="special__btn">
      <ul class="tab flex">
        <li><a href="#item01">オンライン販売商品について</a></li>
        <li><a href="#item02">私たちについて</a></li>
      </ul>

    </div>
  </div>