<div class="section_container">
    <div class="section_inner">
           <div class="section_title font02">COLLECTION</div>
           <div class="collection_subtitle center font02">{{ page_title }}</div>
            <div class="collection_imgs">

	                  {% for block in section.blocks %}
	            
			             <img src="{{block.settings.img-url | img_url: '1920x'}}"> 
			            
			          {% endfor %}

               
                    <!-- <img src="{{ article.image.src | img_url: '500x' }}" alt=""> -->
                                
                
                
            </div>
        </div>
     </div>
 </div>         
        





        





{% schema %}
  {
    "name": "collection",
    "blocks": [
      {
        "type": "image_picker",
        "name": "catarog image",
        "settings": [
          {
            "type": "image_picker",
            "id": "img-url",
            "label": "img"
          }
        ]
      }
    ]
  }
{% endschema %}