/*配色設定*/



/* ここから追加した */

#BROWN {
    background-color: #8d593a;
    border: 0.5px solid rgba(100, 100, 100, 0.2);
}

#KHAKI {
    background-color: #5e4d3b;
    border: 0.5px solid rgba(100, 100, 100, 0.2);
}

#BLACK {
    background-color: #383031;
    border: 0.5px solid rgba(100, 100, 100, 0.2);
}

#PINK_BEIGE {
    background-color: #e3d9ce;
    border: 0.5px solid rgba(100, 100, 100, 0.2);
}

#GRAY {
    background-color: #9d9999;
    border: 0.5px solid rgba(100, 100, 100, 0.2);
}

#CHARCOAL {
    background-color: #17191b;
    border: 0.5px solid rgba(100, 100, 100, 0.2);
}

#LT_BLUE {
    background-color: #6c93b5;
    border: 0.5px solid rgba(100, 100, 100, 0.2);
}

#IVORY {
    background-color: #e8e6e0;
    border: 0.5px solid rgba(100, 100, 100, 0.2);
}

#BLUE_GRAY {
    background-color: #b3b8bf;
    border: 0.5px solid rgba(100, 100, 100, 0.2);
}

#LT_BROWN {
    background-color: #ac9571;
    border: 0.5px solid rgba(100, 100, 100, 0.2);
}

#BLUE {
    background-color: #8597b8;
    border: 0.5px solid rgba(100, 100, 100, 0.2);
}

#LT_GRAY {
    background-color: #ded9d2;
    border: 0.5px solid rgba(100, 100, 100, 0.2);
}

#BEIGE {
    background-color: #e1d5c4;
    border: 0.5px solid rgba(100, 100, 100, 0.2);
}

#PINK {
    background-color: #cba58f;
    border: 0.5px solid rgba(100, 100, 100, 0.2);
}

#OLIVE {
    background-color: #889666;
    border: 0.5px solid rgba(100, 100, 100, 0.2);
}

#BLUE_GREEN {
    background-color: #19818e;
    border: 0.5px solid rgba(100, 100, 100, 0.2);
}

#BLACK {
    background-color: #2a272c;
    border: 0.5px solid rgba(100, 100, 100, 0.2);
}

#GREEN {
    background-color: #2d3d3b;
    border: 0.5px solid rgba(100, 100, 100, 0.2);
}

#NAVY {
    background-color: #303038;
    border: 0.5px solid rgba(100, 100, 100, 0.2);
}

#BLUE_GRAY {
    background-color: #9ab5b3;
    border: 0.5px solid rgba(100, 100, 100, 0.2);
}

#MUSTARD {
    background-color: #dcab3f;
    border: 0.5px solid rgba(100, 100, 100, 0.2);
}

#BURGUNDY {
    background-color: #541b24;
    border: 0.5px solid rgba(100, 100, 100, 0.2);
}

/*ここに色を追加してください！*/

/*template*/

/*#[color_name]{
        background-color:[color];
        border:0.5px solid rgba(100,100,100,0.2);
    }*/



/*これは触らないで！！！*/
.color-circle {
    width: 12px;
    height: 12px;
    border-radius: 8px;
    padding: 0;
    margin: 7px 2px;
    margin-left: 7px;
}







/*
====================
全ページ共通項目
====================
*/

* {
    margin: 0;
}

a {
    text-decoration: none;
    color: #3d3a39;
}

li {
    list-style: none;
}


html {
    overflow-x: hidden;
    color: #3d3a39;
    background: white;
}

/*
====================
全ページ共通ここまで
====================
*/




.shopify-challenge__container {
    margin-top: 30vh !important;
}





.slick-arrow {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 10px !important;
    height: 20px;
    cursor: pointer;
}

.prev-arrow {
    left: 40px;
    z-index: 10;

}

.next-arrow {
    right: 50px;
}


.trans :hover {
    opacity: 0.5 !important;
}


.b_hover:hover {
    background-color: #3d3a39;
    color: white;
}













/*
====================
フォント
====================
*/


@font-face {
    font-family: 'Amiri-Regular';
    src: url("Amiri-Regular.woff2") format("woff2"),
        url("Amiri-Regular.woff") format("woff");

}

@font-face {
    font-family: 'noto';
    src: url(fonts/NotoSerifJP-ExtraLight.ttf);

}

.font01 {
    font-family: 'Amiri-Regular' !important;
    font-weight: lighter;
}

.font02 {
    font-family: serif;
    /*    font-weight: 100;*/
}

/*
====================
フォント
====================
*/


















/*
====================
セクションレイアウト
====================
*/
.section_container {
    width: 90vw;
    margin: 16vw 5vw 10vw 5vw;
}

.section_inner {
    width: 75%;
    margin: 0 auto;
}

.section_title {
    text-align: center;
    font-size: 20px;
    margin-bottom: 4vw;
    letter-spacing: 4px;
}

.section_subtitle {
    font-size: 1.2vw;
    margin-bottom: 2vw;
    font-weight: 900;
    font-family: serif;
    letter-spacing: 2px;
}

.section_text {
    line-height: 2.2vw;
    font-size: 1.0vw;
    margin-bottom: 2vw;
    letter-spacing: 1.0px;
}

.bold {
    font-weight: bolder;
}

.section_link {
    text-decoration: underline;
    color: #3d3a39;
}

.section_link:hover {
    text-decoration: underline;
    color: #3d3a39;
    opacity: 0.7;
}

/*セクション雛形

    <div class="section_container">
        <div class="section_inner">
            <div class="section_title font02">返金・交換について</div>
            <div class="section_subtitle font02">Free yourself <br class="sp_return">本来のあなたを解放してあげよう</div>
            <div class="section_text font02">
                『移動が運命の開拓と同義である』と思うのはアメリカ人だけではない。<br>
                見知らぬ土地へと旅する中で、真理に近づく感覚を得る。<br>
                勇気を出して予測のつかない、まだ見ぬ未来へ向かって進むことが、自由への近道だと信じる者にとって、青い空と果てしなく続く 地平線は希望の道標なのかもしれない。<br>
                足を止めることのできない旅路の中で、心穏やかに過ごす自由なひととき。そこには何からも束縛されない、本来の自分を表現する 場が存在する。<br>
            </div>
            <div class="section_text font02">
                2020年東京生まれ、大人のための遊び心を大切にした、新たなファッションブランド「ダブルシックス」。ストレスフリー、サスティナビリティ、そしてメガシティ TOKYO の知性ある価値観とスタイルであなたに寄り添う。
            </div>
        </div>
    </div>
*/
/*
====================
セクションレイアウト
====================
*/







































/*
====================
オープニングアニメーション
====================
*/

.opening {
    position: fixed;

    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 110;
    background-color: rgb(245, 245, 240);


    animation-name: out01;
    animation-duration: 1.0s;
    animation-timing-function: ease-in;
    animation-delay: 2.5s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-play-state: running;
    opacity: 1;
}

@keyframes out01 {
    1% {
        display: block;
    }

    99% {
        opacity: 0;
        z-index: 10;
    }

    100% {
        z-index: -100;
        opacity: 0;

    }
}

.op_title {
    width: 60%;
    margin-top: 45vh;
    margin-left: 20%;
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    letter-spacing: 2px;
    line-height: 45px;



    animation-name: in01;
    animation-duration: 1.0s;
    animation-timing-function: ease-in;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-play-state: running;
    opacity: 0;
}

@keyframes in01 {
    100% {
        opacity: 1.0;
    }
}


.op_subtitle {
    width: 60%;
    margin-top: 10px;
    margin-left: 20%;
    text-align: center;
    font-size: 13px;
    font-weight: bolder;
    letter-spacing: 1.6px;



    animation-name: in01;
    animation-duration: 1.0s;
    animation-timing-function: ease-in;
    animation-delay: 1.0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-play-state: running;
    opacity: 0;
}














































/*
====================
ヘッダー
====================
*/
header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header_logo {
    width: 210px;
    margin-left: 80px;
}

.header_menu ul {
    display: flex;
    justify-content: space-between;
    width: 43vw;
    letter-spacing: 3px;
    font-size: 12px;
    font-weight: 100;
}




.header_right {
    margin-right: 80px;
}

.header_right a {
    margin-right: 20px;
    font-size: 20px;
}


/*ヘッダー サブメニュー*/


ul.header-dropmenu > li {
    position: relative;
    display: table-cell;
    vertical-align: middle;
}

/*子要素のスタイル*/
ul.header-dropmenu li a {
    display: block;
    text-align: center;
    line-height: 40px;
    text-decoration: none;
    font-size: 12px;
}

/*子要素全体*/
ul.header-dropmenu li ul {
    visibility: hidden;
    width: 230px;
    list-style: none;
    position: absolute;
    top: 100%;
    left: -60px;
    margin: 0;
    padding: 0;
    border-top: none;
}

ul.header-dropmenu li:hover ul {
    visibility: visible;
}

#sub_menu_arrow {
    content: "";
    width: 3px;
    height: 3px;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    transform: rotate(45deg);
    margin: 15px 5px;
    float: right;
}


.header-dropmenu li a:hover {
    opacity: 0.5;
}
























/*
====================
ファーストビュートップページ
====================
*/
.mv {
    z-index: 1;
    width: 100vw;
    height: 100vh;
    background-image: url('mv_bacck.png');
    background-size: cover;
    background-position: center;
}

.mv_img {
    width: 50vw;
    margin: 0 25vw;
    margin-top: 28vw;
}






































/*====================ハンバーガーメニュー====================*/
.menu_text {
    font-size: 28px;
    position: absolute;
    top: 23px;
    right: 13vw;
    margin-right: 8px;
    margin-top: 0px;
    font-weight: bold;
}

.sp_menu {
    display: flex;
}

.menu-trigger,
.menu-trigger span {
    display: inline-block;
    transition: all .4s;
    box-sizing: border-box;
}

.menu-trigger {
    float: right;
    position: relative;
    top: 0px;
    right: 5vw;
    width: 16px;
    height: 16px;
    z-index: 11;
    cursor: pointer;
}

.menu-trigger span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: black;
    border-radius: 1px;
}

.middle {
    position: absolute;
    left: 0;
    width: 80% !important;
}



/*yutaメニュー色修正始まり*/
.menu-trigger.black span {
    background-color: black !important;
}

/*yutaメニュー色修正終わり*/

.menu-trigger span:nth-of-type(1) {
    top: 0;
}

.menu-trigger span:nth-of-type(2) {
    top: 7px;
}

.menu-trigger span:nth-of-type(3) {
    bottom: 0;
}

.menu-trigger.active span:nth-of-type(1) {
    -webkit-transform: translateY(7px) rotate(-45deg);
    transform: translateY(7px) rotate(-45deg);
    /*    background-color: white;*/
}

.menu-trigger.active span:nth-of-type(2) {
    opacity: 0;
}

.menu-trigger.active span:nth-of-type(3) {
    -webkit-transform: translateY(-7px) rotate(45deg);
    transform: translateY(-7px) rotate(45deg);
    /*    background-color: white;*/
}

/*
.menu-trigger.active span {
    color: white !important;
}
*/

.menu-trigger.active {
    position: relative;
    cursor: pointer;
}

.menu {
    position: fixed;
    padding-top: 5vw;
    top: 0;
    right: 0;
    width: 80%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 10;
    display: none;
}

.menu.active {
    display: block !important;
}

.menu-contents {
    margin-top: 8vh;
}

.menu .menu-contents a {
    font-size: 24px;
    text-align: center;
    display: block;
    text-decoration: none;
    color: #000;
    line-height: 65px;
}

.menu_foot {
    width: 80%;
    padding-top: 22px;
    border-top: 1px solid rgb(70, 70, 70);
    margin: 30px 10% 0 10%;
    display: flex;
    flex-direction: row;

}

.instagram,
.line,
.cart {
    width: 50%;
    display: flex;
    align-items: center;
    font-size: 15px;
    margin: 15px 0;
}


.menu_foot a i {
    font-size: 6vw;
    padding-right: 2vw;
}



.mf_container {
    width: 100%;
    margin-left: 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}




















sample {}

































/*
====================
プロダクト（トップページ）
====================
*/
.product_inner {
    width: 100%;
    margin: 0 auto;
}

.products {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.products a {
    text-align: center;
}

.product {
    width: 33.333999999999999%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 0
}

.product_img_box:hover {
    cursor: pointer;
    opacity:0.95;
}

.product_img_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*    margin:90px 0;*/
    position: relative;
}

.product_img02 {
    width: 20vw;
    position: absolute;
    z-index: 0;
}

.product_img01 {
    width: 20vw;
    position:inherit;
    z-index: 1;
}

.product_img01:hover {
    opacity:0;
}

.product_name {
    padding-top: 20px;
    font-size: 12px
}

.product_price {
    padding-top: 2px;
    font-size: 15px;
    letter-spacing: 1px;
}

.btn_box {
    width: 100%;
    text-align: center;
}

.viewmore {
    display: inline-block;
    padding: 1vw 2vw;
    border: 1px solid #3d3a39;
    text-align: center;
    letter-spacing: 2px;
    margin: 60px auto;
    font-size: 12px;
}

.viewmore:hover {
    opacity: 0.7;
}

.space01 {
    padding-top: 30px;
}

















/*プロダクトページメニュー（カテゴリ開閉）*/

.product_menu-trigger,
.product_menu-trigger span {
    display: inline-block;
    transition: all .4s;
    box-sizing: border-box;
}

.product_menu-trigger {
    position: relative;
    top: 0px;
    right: 0vw;
    width: 200px;
    margin: 0 auto;
    height: 10px;
    z-index: 11;
    cursor: pointer;
}

.product_menu-trigger #first {
    position: absolute;
    left: 134px;
    top: 9px;
    width: 2px;
    height: 100%;
    background-color: black;
    border-radius: 1px;
}

.product_menu-trigger #second {
    position: absolute;
    left: 130px;
    width: 10px;
    top: 13px;
    height: 2px;
    background-color: black;
    border-radius: 1px;
}

.product_menu-trigger.black span {
    background-color: black !important;
}

.product_menu-trigger span:nth-of-type(1) {
    top: 0px;
}

.product_menu-trigger span:nth-of-type(2) {
    top: 4px;
}



.product_menu-trigger.active span:nth-of-type(1) {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.product_menu-trigger.active span:nth-of-type(2) {
    opacity: 0;
}


.product_menu-trigger.active {
    position: relative;
    cursor: pointer;
}

.product_menu {
    top: 0;
    right: 0;
    width: 50vw;
    margin: 0 auto;
    z-index: 10;
    display: none;
}

.products_menu_contents a {
    padding: 10px 15px;
}

.product_menu_box {
    text-align: center;
}

.product_menu.active {
    display: block !important;
}









































/*コンタクトページ*/



input {
    background-color: rgba(240, 240, 240, 0.5);
    border: none;
    height: 40px;
    width: 100%;
    border-radius: 1px;
}

input:hover {
    color: white;
    background: #3d3a39;
}

input {
    background-color: -webkit-rgba(240, 240, 240, 0.5);
    border: -webkit-none;
    height: -webkit-40px;
    width: -webkit-100%;
    border-radius: -webkit-1px;
}

textarea {
    background-color: -webkit-rgba(240, 240, 240, 0.5);
    border: -webkit-none;
    width: -webkit-100%;

}

textarea {
    background-color: rgba(240, 240, 240, 0.5);
    border: none;
    width: 100%;

}

.mail_form,
.name_form {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.mail_form input,
.name_form input {
    width: -webkit-100%;
}

.mail_form input,
.name_form input {
    width: 100%;
}

.form-group {
    width: 100%;
    margin: 7px 0;
}

.form-group p {
    font-size: 13px;
    letter-spacing: 2px;
    font-weight: bold;
    padding: 8px;
}


.mail_form .form-group,
.name_form .form-group {
    width: 49%;
}


.btn-submit {
    width: 20%;
    height: 60px;
    border: 1px solid black;
    background-color: white;
    margin-top: 4.5vw;
}



#c-red {
    color: #e57373;
}

.contact_text {
    font-size: 12px;
    letter-spacing: 2px;
}




.thanks_section{
    letter-spacing: 1px;
}


.thanks_section .font01{
    font-size: 26px;
}

.thanks_comp{
    font-size: 12px;
}

.thanks_bottom{
    margin-top:80px;
    font-size: 13px !important;
}

.under_space{
    margin-bottom:20px;
}

.center{
    text-align:center;
}































.a_under {
    text-decoration: underline !important;
}

.a_under:hover {
    opacity: 0.5 !important;
}









/*商品詳細ページ*/

.single_product_inner {
    width: 80%;
    margin: 0 auto;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: block;
    margin-bottom: 10px;
    width: 75%;
    padding: 1em 1em;
    box-sizing: border-box;
    font-size: 1em;
    border-top: rgba(0, 0, 0, 0) 1px solid;
    border-bottom: #ccc 1px solid;
    border-left: rgba(0, 0, 0, 0) 1px solid;
    border-right: rgba(0, 0, 0, 0) 1px solid;
    border-radius: 0;
    background: #fff;
    font-size: 14px;
}

select:hover {
    opacity: 0.5;
}

.select_box::before {
    content: "";
    display: block;
    width: 6px;
    height: 6px;
    position: absolute;
    top: 30%;
    right: 30%;
    border-bottom: #333 2px solid;
    border-right: #333 2px solid;
    transform: rotate(45deg)translateY(-30%);
}



.select_box {
    margin-top: 20px;
    position: relative;
}

.single_product_right {
    margin-left: 50px;
    position: sticky;
    top: 18vh;
    width: 45%;
    height: 50vh;
    display: flex;
    flex-direction: column;
}

.single_product_detail_box {
    display: flex;
    flex-direction: row;
}

#color01 {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: currentColor;
    margin: 7px 2px;
    margin-left: 7px
}

#color02 {
    width: 13px;
    height: 12px;
    border-radius: 50%;
    background-color: steelblue;
    margin: 7px;
}

#color03 {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: darkred;
    margin: 7px;
}

.single_product_price {
    padding-left:0px;
}

.single_product_text {
    margin-top: 20px;
    font-size: 14px;
    letter-spacing: 1.2px;
    width: 70%;
}

.size_trigger {
    margin-bottom: 80px !important;
    margin-top: 20px;
    font-size: 14px;
    text-decoration: underline
}

.size_trigger:hover {
    opacity: 0.5;
}

.cart_btn {
    width: 75%;
    border: 1px solid #3d3a39;
    text-align: center;
    padding: 7px 0;
    margin-top: 50px;
    background: white;
}



.back_btn {
    letter-spacing: 3px;
    font-size: 13px;
    margin-top: 30px
}

.size_menu {
    position: fixed;
    left: 100vw;
    top: 0 !important;
    width: 30vw;
    height: 100vh;
    background-color: rgb(238, 237, 233);
    z-index: 100;
    transition: all 0.5s;
}

.size_detail {
    padding-top: 20vh;
    width: 100%;
    margin: 0 auto;
  margin-left:5vw;
    line-height: 28px;
}

.size_detail table {
  border-collapse: collapse;
}
.size_detail table th, .size_detail table td {
  border: solid 1px black;
  /*実線 1px 黒*/
}

.size_menu.active {
    left: 70vw;
}

.size_menu_back {
    position: fixed;
    left: 100vw;
    top: 0 !important;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 100;
    transition: all 0.5s;
}

.size_menu_back.active {
    left: 0;
}

.size_esc {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    position: absolute;
    top: 30px;
    right: 50px;
    font-size: 40px;
}

.single_product_container {
    margin-top: 17vh;
}

.product_top_container {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.single_product_left {
    width: 55%;
    display: flex;
    flex-direction: column;
}

.single_product_main img {
    width: 70%;
    margin-left: 15%
}

.single_product_imgs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 20px;
}

.cloth_img {
    width: 21%;
    margin: 10px;
}

.cloth_img img {
    width: 100%;
}

.product_bottom_container {
    width: 55%;
    display: flex;
    flex-direction: column;
}

.relation_items {
    margin-bottom: 10vh
}

.coordinate_items {
    display: flex;
    flex-direction: ;
    flex-wrap: wrap;
    margin-top: 30px;
}

.coordinate_item_title {
    font-size: 20px;
    letter-spacing: 3px;
    margin-top: 60px;
    margin-left: 10px;
}

.c-item {
    text-align: center;
    width: 21%;
    margin: 10px;

}

.c-item img {
    width: 100%
}

.coordinate_items a {
    display: inline-block;
}

.item_name {
    font-size: 13px
}


.collection_subtitle{
    font-size:14px;
    text-align:center;
}

.collection_imgs img {
    width: 70%;
    margin: 5vw 15%
}



#slider {
    width: 100%;
}

.slide-item img {
    width: 70%;
    margin-left: 15%;
}

#thumbnail-list {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    list-style: none
}

.thumbnail-item {
    flex: 0 1 20%;
    margin: 2%;
    box-sizing: border-box;
    position: relative;


}

.thumbnail-item img {
    width: 100%;
    margin: 0 auto;
}



































/*FAQ*/
.accordion {
    height: auto;
    width: 100%;
    margin: 0 auto;
}

.faq_q {
    height: 105px;
    width: 100%;
    margin: 0 auto;
    border-bottom: solid #3d3a39 0.5px;
    border-radius: 2px;
    padding: 0px 20px 0px 20px;
    text-align: left;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: lighter;
    transition-delay: 0.4s;
}


.no1_q {
    border-top: solid #3d3a39 0.5px;
}

.faq_q p {
    float: left;
    font-size: 15px;
}

.faq_arrow {
    background-color: black;
    padding: 4px 5px 6px 5px;
    border-radius: 16px;
}

.arrow_q {
    content: "";
    width: 4px;
    height: 4px;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    float: right;
    transform: rotate(45deg);
    transition: all 1s;
}

.fa-question-circle {
    color: #006EA9;
}

.fd2 {
    color: #3d3a39;
    float: right;
    margin-top: 0px;
}

.faq_a {
    width: 100%;
    height: auto;
    padding: 20px;
    text-align: left;
    display: flex;
    align-items: center;
    border-bottom: solid #3d3a39 0.5px;
    letter-spacing: 2px;
    margin: 0 auto;
    display: none;
    font-weight: lighter;
    font-size: 13px;
}

.faq_arrow.open {
    transform: rotate(180deg);
}



























































/*カート*/
.cart_items_box {
    width: 80%;
    margin: 0 auto;
    letter-spacing: 2px;
    border-top: 1px solid rgb(200, 200, 200);
}

.line_item {
    width: 100%;
    margin: 0 auto;
    border-bottom: 1px solid rgb(200, 200, 200);
    padding: 20px 0;
    position: relative;
}

.line_item_inner {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.line_item_inner img {
    width: 100px;
}

.line_item_name {
    font-size: 12px;
}

.line_item_count {
    display: flex;
    width: 50px;
    line-height: 20px;
}

.line_item_count input {
    width: 60px;
}

.line_item_price {
    margin: 0;
}

.minus_btn,
.plus_btn {
    width: 20px;
    height: 20px;
    border: 1px solid black;
    cursor: pointer;
    text-align: center;
    border-radius: 50%;
    margin: 0 10px;
}

.delete_btn {
    float: right;
    position: absolute;
    bottom: 20px;
    right: 10%;
    text-decoration: underline;
}

.cart_total_price {
    text-align: center;
    margin-top: 40px;
}

.cart_checkout_btn {
    text-align: center;
    display: block;
    width: 100%;
    margin: 0 auto;
    margin-top: 7vw;
    background: black;
    color: white;
    padding: 10px !important;
    border-radius: 2px;
}

.line_info_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 50px;
}

.line_info_inner div {
    margin: 0px 20px;
}

.cart_btn_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart_btn_box input {
    width: 48%;
}









































/*
====================
NEWS一覧
====================
*/
.news_container {
    width: 80vw;
    margin: 16vw 10vw 10vw 10vw;

}

.news_all {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.news_all a {
    width: 100%;

}

.news {
    width: 33.3333333399%;
    border-radius: 10px;
    margin-bottom: 5vw;
    -webkit-transition: all .3s;
    transition: all .3s;
    display: flex;
    justify-content: center;
    /*    text-align: center*/
}

.news:hover {
    -webkit-box-shadow: 0px 0px 6px 6px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 6px 6px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 6px 6px rgba(0, 0, 0, 0.1);
}

.news_inner {
    width: 90%;
    margin: 18%;
}

.image_box {
    width: 18.5vw;
    height: 18.5vw;
    border: 1px solid rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    text-align: center;
}

.image_box img {
    width: 100%;

}

.news_date {
    font-size: 0.9vw;
    margin-bottom: 0px;
    margin-top: 16px;
}

.news_text {
    font-size: 1vw;
}

.page_nation {
    width: 18%;
    text-align: center;
    margin: 0 40%;
}

.arrow_l {
    border: 1px solid rgb(0, 0, 0);
    padding: 4px 14px;
    font-size: 13px;
}

.a-trans {
    opacity: 0.3;
}

.arrow_r {
    border: 1px solid rgb(0, 0, 0);
    padding: 4px 14px;
    font-size: 13px;
}

.page_number {
    font-weight: 100;
    margin: 0px;
}

.nav_page {
    width: 100%;
    position: absolute;
}


ol li {
    display: inline;
}


/*
====================
NEWS一覧ここまで
====================
*/










































/*
====================
NEWS詳細ページ
====================
*/
.detail_container {
    width: 80%;
    margin: 10vw 10%;
}

.detail_inner {
    width: 100%;
    /*margin: 10%;*/
    display: flex;
    flex-direction: column;
}

.detail_title {
    text-align: center;
    font-size: 1.5vw;
    letter-spacing: 1.6px;
}

.detail_date {
    text-align: center;
    margin-top: 2px;
}

.detail_image {
    text-align: center;
    margin-top: 7vw;
    margin-bottom: 3.5vw;
}

.detail_image img {
    width: 60%;
    /*margin-left:15%;*/

}

.detail_text {
    width: 100%;
    font-size: 13px;
    line-height: 32px;
}

::selection {
    background-color: black;
    color: white;
}

/*
====================
NEWS詳細ページここまで
====================
*/















































/*
====================
footer
====================
*/

footer {
    width: 90%;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    padding-top: 3vw;
    margin: 4vw auto;
    /*    text-align: center;*/
}

footer a i {
    font-size: 22px;
    margin: 0 5px 13px 5px;
}

.copywrite {
    /*    margin-top: 1vw;*/
    font-size: 0.5vw;
}


.footer_menu {
    text-align: center;
    font-size: 14px;
    margin-bottom: 60px
}

.footer_menu a {
    margin: 0 40px;
}

.footer_menu a:hover {
    opacity: 0.5;
}


/*
====================
footerここまで
====================
*/



















































































@media screen and (max-width:639px) {

    /*スマホ用のcssを記述*/
    .menu_text {
        font-size: 21px;
        position: absolute;
        right: 45px;
        margin-top: 4px;
        font-weight: bold;
    }

    /*
====================
セクションレイアウト
====================
*/
    .section_container {}

    .section_inner {
        width: 90%;
        margin: 0 auto;
        margin-bottom: 120px;
    }

    .section_title {
        font-weight: 900;
    }

    .section_subtitle {
        font-size: 1.2vw;
        margin-bottom: 2vw;
        font-weight: 900;
        font-family: serif;
        letter-spacing: 1.0px !important;
    }

    .section_text {
        line-height: 2.2vw;
        font-size: 1.0vw;
        margin-bottom: 2vw;
        letter-spacing: 0.2px !important;
    }

    .section_text a {
        width: 90vw !important;
    }

    .bold {
        font-weight: bolder;
    }

    .section_link {
        text-decoration: underline;
        color: #3d3a39;
    }

    .section_link:hover {
        text-decoration: underline;
        color: #3d3a39;
        opacity: 0.7;
    }





















    /*
====================
オープニングアニメーション
====================
*/



    .op_title {
        width: 90%;
        margin-top: 45vh;
        margin-left: 5%;
        text-align: center;
        font-weight: 700;
        font-size: 34px;
        letter-spacing: 2px;
        line-height: 10vw;
    }



    .op_subtitle {
        width: 90%;
        margin-left: 5%;
        text-align: center;
        font-size: 13px;
        font-weight: bold;
        letter-spacing: 1.6px;
    }


    /*
====================
オープニングアニメーションここまで
====================
*/

















    .cart i {
        font-size: 5vw !important;
    }

    .header_logo {
        width: auto;
        height: 20px;
        margin-top: 5px;
        margin-left: 25px;
    }

    .header_menu {
        display: none;

    }

    .header_right {
        margin-right: 100px;
        display: none;
    }

    .news_container,
    .detail_container {
        margin-top: 30vw;
    }

    .section_container {
        margin-top: 30vw;
    }




    /*    コレクション*/
    .collection_imgs img {
        width: 96%;
        margin: 5vw 2%
    }




















    /*商品一覧*/



    .product {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 30px 0;
    }

    .product_img02 {
        width: 90%;
    　　 position: absolute !important;
        z-index: 0;
        display: none;
    }

    .product_img01 {
        width: 90%;
        position: inherit;
        z-index: 1;
    }

    .product_menu_box {
        text-align: center;
        display: none;
    }

    .product_img01:hover {
        display: block;
    }


















    /*    faq*/
    /*FAQ*/
    .accordion {
        /*        height: auto;*/
        width: 88%;
        margin: 0;
    }

    .faq_q {
        height: 105px;
        width: 100%;
        margin: 0 auto;
        border-bottom: solid #3d3a39 0.5px;
        border-radius: 2px;
        padding: 0px 20px 0px 20px;
        text-align: left;
        margin-bottom: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: lighter;
        transition-delay: 0.4s;
    }


    .no1_q {
        border-top: solid #3d3a39 0.5px;
    }

    .faq_q p {
        float: left;
        font-size: 15px;
    }

    .faq_arrow {
        background-color: black;
        padding: 4px 5px 6px 5px;
        border-radius: 16px;
    }

    .arrow_q {
        content: "";
        width: 4px;
        height: 4px;
        border-right: 1px solid white;
        border-bottom: 1px solid white;
        float: right;
        transform: rotate(45deg);
        transition: all 1s;
    }

    .fa-question-circle {
        color: #006EA9;
    }

    .fd2 {
        color: #3d3a39;
        float: right;
        margin-top: 0px;
    }

    .faq_a {
        width: 100%;
        height: auto;
        padding: 20px;
        text-align: left;
        display: flex;
        align-items: center;
        border-bottom: solid #3d3a39 0.5px;
        letter-spacing: 2px;
        margin: 0 auto;
        display: none;
        font-weight: lighter;
        font-size: 13px;
    }

    .faq_arrow.open {
        transform: rotate(180deg);
    }




















    /*    コンタクト*/



    input {
        background-color: rgba(240, 240, 240, 0.5);
        border: none;
        height: 40px;
        width: 100%;
        border-radius: 1px;
    }

    textarea {
        background-color: rgba(240, 240, 240, 0.5);
        border: none;
        width: 100%;

    }

    input {
        -webkit-background-color: rgba(240, 240, 240, 0.5);
        -webkit-border: none;
        -webkit-height: 40px;
        -webkit-width: 100%;
        -webkit-border-radius: 1px;
    }

    textarea {
        -webkit-background-color: rgba(240, 240, 240, 0.5);
        -webkit-border: none;
        -webkit-width: 100%;

    }

    .mail_form,
    .name_form {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

    }

    .mail_form input,
    .name_form input {
        width: 100%;
    }

    .form-group {
        width: 100%;
        margin: 7px 0;
    }

    .form-group p {
        font-size: 13px;
        letter-spacing: 2px;
        font-weight: bold;
        padding: 8px;
    }


    .mail_form .form-group,
    .name_form .form-group {
        width: 100%;
    }


    .btn-submit {
        width: 100% !important;
        height: 40px;
        border: none;
        color: white;
        background-color: black;
        border-radius: 3px;
        margin-top: 50px;
    }



    #red {
        color: red;
    }

    .contact_text {
        font-size: 12px;
        letter-spacing: 2px;
        margin-top: 20px;
    }


    .btn_box {
        width: 100%;
        text-align: center;
        margin-bottom: 70px;
    }














    /*カート*/
    .cart_items_box {
        width: 100%;
        margin: 0 auto;
        letter-spacing: 2px;
        border-top: 1px solid rgb(200, 200, 200);
    }

    .line_item {
        width: 100%;
        margin: 0 auto;
        border-bottom: 1px solid rgb(200, 200, 200);
        padding: 20px 0;
        position: relative;
    }

    .line_item_inner {
        width: 90%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: flex-start;

    }

    .line_item_inner img {
        width: 100px;
    }

    .line_info_inner {
        display: flex;
        flex-direction: column;
        text-align: left;
        align-items: flex-start;
        margin-left: 20px
    }
    
    .line_info_inner input{
        
    }

    .line_item_name {
        font-size: 15px;
        order: 1;
    }

    .line_item_count {
        display: flex;
        text-align: left;
        justify-content: flex-start;
        line-height: 20px;
        margin-top: 10px;
        order: 3;
    }

    .line_item_price {
        order: 2;
        font-size: 14px;
        margin-top: 5px;
    }

    .minus_btn,
    .plus_btn {
        width: 20px;
        height: 20px;
        border: 1px solid black;
        cursor: pointer;
        text-align: center;
        border-radius: 50%;
        margin: 0 3px;

    }

    .delete_btn {
        float: right;
        position: absolute;
        bottom: 20px;
        right: 2%;
        text-decoration: underline;
    }

    .cart_total_price {
        text-align: center;
        margin-top: 40px;
    }

    .cart_checkout_btn {
        text-align: center;
        display: block;
        width: 100%;
        margin: 0 auto;
        margin-top: 7vw;
        background: black;
        color: white;
        padding: 10px 0px;
        border-radius: 2px;
    }

    .cart_btn_box {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 80px;
    }

    .cart_btn_box input {
        width: 100%;
        margin-bottom: 20px;
    }








    
    
    
    


    /*    商品詳細ページ*/



    .single_product_inner {
        width: 100%;
        margin: 0 auto;
    }

    select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: block;
        margin-bottom: 10px;
        width: 100%;
        padding: 1em 1em;
        box-sizing: border-box;
        border-top: rgba(0, 0, 0, 0) 1px solid;
        border-bottom: #ccc 1px solid;
        border-left: rgba(0, 0, 0, 0) 1px solid;
        border-right: rgba(0, 0, 0, 0) 1px solid;
        border-radius: 0;
        background: #fff;
    }



    select {
        margin-bottom: -webkit-10px;
        width: -webkit-100%;
        padding: -webkit-1em 1em;
        box-sizing: -webkit-border-box;
        font-size: -webkit-16px;
        border-top: -webkit-rgba(0, 0, 0, 0) 1px solid;
        border-bottom: -webkit-#ccc 1px solid;
        border-left: -webkit-rgba(0, 0, 0, 0) 1px solid;
        border-right: -webkit-rgba(0, 0, 0, 0) 1px solid;
        border-radius: -webkit-0;
        background: -webkit-#fff;
        font-size: -webkit-14px;
        font-size: 16px;
    }

    .select_box {
        margin-top: 20px;
    }

    option {
        font-size: 16px;
        transform: scale(calc(14 / 16));
    }

    .select_box::before {
        content: "";
        display: block;
        width: 6px;
        height: 6px;
        position: absolute;
        top: 32%;
        right: 5%;
        border-bottom: #333 2px solid;
        border-right: #333 2px solid;
        transform: rotate(45deg)translateY(-30%);
    }

    input[type=submit] {
        -webkit-appearance: none;
        border-radius: 0;
    }

    input[type=text] {
        font-size: 16px;
    }

    input[type=email] {
        font-size: 16px;
    }

    textarea {
        font-size: 16px
    }

    .single_product_title {
        font-size: 18px;
        margin-top: 30px
            /*        text-align: center;*/
    }

    .product_top_container {
        width: 100%;
        display: flex;
        flex-direction: column;
    }



    .single_product_right {
        position: inherit;
        top: 20vh;
        right: 0;
        width: 80%;
        height: auto;
        background-color: white;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }

    .single_product_detail_box {
        display: flex;
        flex-direction: row;
    }




    .single_product_price {
        padding-left: 10px;
    }

    .single_product_text {
        margin-top: 20px;
        font-size: 14px;
        letter-spacing: 1.2px;
        width: 100%;
    }

    .size_trigger {
        margin-bottom: 40px;
        margin-top: 10px;
        text-decoration: underline;
        font-size: 12px
    }

    .cart_btn {
        width: 100%;
        border: none;
        background-color: black;
        color: white;
        text-align: center;
        padding: 7px 0;
        margin-top: 50px;
    }



    .back_btn {
        letter-spacing: 3px;
        font-size: 13px;
        margin-top: 30px;
        display: none
    }

    .size_menu {
        position: fixed;
        left: 100vw;
        top: 0 !important;
        width: 100%;
        height: 100vh;
        background-color: rgb(238, 237, 233);
        z-index: 100;
        transition: all 0.5s;

    }

    .size_detail {
        padding-top: 20vh;
        width: 50%;
        margin: 0 auto;
        line-height: 28px;
    }

    .size_menu.active {
        left: 0vw;
    }

    .size_menu_back {
        position: fixed;
        left: 100vw;
        top: 0 !important;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0);
        z-index: 102;
        transition: all 0.5s;
    }

    .size_menu_back.active {
        left: 0;
    }

    .size_esc {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        position: absolute;
        top: 30px;
        right: 50px;
        font-size: 40px;
    }

    .single_product_container {
        margin-top: 17vh
    }


    .single_product_left {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .single_product_main img {
        width: 100%;
        margin-left: 0% !important;
    }

    .single_product_imgs {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 20px;
    }

    .product_bottom_container {
        margin-top: 50px;
    }

    .product_bottom_container {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .relation_items {
        width: 100%;
        margin-bottom: 10vh;
    }

    .coordinate_items {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
        margin-top: 30px;
    }

    .coordinate_item_title {
        font-size: 20px;
        letter-spacing: 3px;
        margin-top: 60px;
        margin-left: 10px;
        text-align: center;
    }

    .c-item {
        text-align: center;
        width: 50%;
        margin: 25px 0px;

    }

    .c-item a {
        width: 90% !important;
    }

    .c-item img {
        width: 100%;
    }

    .coordinate_items a {
        display: inline-block;
    }

    .item_name {
        font-size: 13px
    }


    /*
    .collection_imgs img {
        width: 100%;
        margin: 5vw 15%
    }
*/



    #slider {
        width: 100%;
    }

    .slide-item img {
        width: 100%;
        margin-left: 0%;
    }

    #thumbnail-list {
        width: 95%;
        margin: 0 auto;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        overflow-x: scroll;
        list-style: none;
    }

    .thumbnail-item {
        flex: 0 1 20%;
        margin: 2.5%;
        box-sizing: border-box;
        position: relative;


    }

    .thumbnail-item img {
        width: 100%;
        margin: 0 auto;
    }

    ul {
        display: block;
        list-style-type: disc;
        margin-block-start: 0em;
        margin-block-end: 0em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 0px;
    }



    .slick-arrow {
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        width: 20px !important;
        height: 40px;
        cursor: pointer;
    }

    .prev-arrow {
        left: 10px;
        z-index: 10;

    }

    .next-arrow {
        right: 10px;
    }

    .sp {
        display: block;
    }






    /*
====================
NEWS一覧
====================
*/
    .news_container {
        width: 95%;
        margin: 160px 2.5% 10vw 2.5%;

    }

    .news_all {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        ;
    }

    .news_all a {
        width: 100%;

    }

    .news {
        display: flex;
        justify-content: center;
        width: 50%;
        border-radius: 2vw;
        margin-bottom: 5vw;
        -webkit-transition: all .3s;
        transition: all .3s;
    }

    .news:hover {
        -webkit-box-shadow: 0px 0px 6px 6px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0px 0px 6px 6px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 0px 6px 6px rgba(0, 0, 0, 0.1);
    }

    .news_inner {
        width: 90%;
        margin: 12%;
    }

    .image_box {
        width: 36vw;
        height: 36vw;
        border: 1px solid rgba(0, 0, 0, 0.2);
        display: flex;
        align-items: center !important;

    }

    .image_box img {
        width: 100%;

    }

    .news_date {
        font-size: 8px;
        margin-bottom: 2px;
        margin-top: 16px;
        letter-spacing: 1px;
    }

    .news_text {
        font-size: 8px !important;
        letter-spacing: 3px;
        width: 90%;
    }

    .page_nation {
        width: 50%;
        text-align: center;
        margin: 0 20%;
    }




    .page_number {
        font-size: 4vw;
        font-weight: 100;
        margin: 0;
    }


    /*
====================
NEWS一覧ここまで
====================
*/


    /*
====================
NEWS詳細ページ
====================
*/

    .detail_inner {
        width: 95%;
        margin: 20vh 2.5% 5vw 2.5%;
    }

    .detail_title {
        text-align: center;
        font-size: 14px;

    }

    .detail_image {
        text-align: center;
        margin-top: 7vw;
        margin-bottom: 6.5vw;
    }

    .detail_image img {
        width: 80%;
    }

    .detail_text {
        width: 100%;
        font-size: 12px !important;
        line-height: 26px;
        letter-spacing: 1.6px;
    }

    /*
====================
NEWS詳細ページここまで
====================
*/

    /*
====================
ABOUT
====================
*/


    .section_container {
        width: 95%;
        margin: 160px 2.5% 10vw 2.5%;
    }

    .section_title {
        text-align: center;
        font-size: 16px;
        margin-bottom: 30px;
        letter-spacing: 2px;
    }

    .section_subtitle {
        font-size: 12px;
        margin-bottom: 20px;
        font-weight: 900;
        font-family: serif;
        letter-spacing: 2px;
        text-align: center;
    }

    .section_text {
        line-height: 24px;
        font-size: 11px;
        margin-bottom: 2vw;
        letter-spacing: 1.6px;
    }



    /*
====================
ABOUTここまで
====================
*/
    footer {
        width: 80%;
        border-top: 1px solid rgba(0, 0, 0, 0.2);
        padding-top: 40px;
        margin: 5vw auto;
        text-align: center;
    }

    footer a i {
        font-size: 32px;
    }

    .copywrite {

        font-size: 8px;
    }

    .footer_left {
        text-align: center;
    }


    .footer_menu {
        text-align: center;
        font-size: 14px;
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
        margin-top: 20px;
    }

    .footer_menu a {
        margin: 10px 40px;
    }

}



































































@media only screen and (min-width:640px) and (max-width:1023px) {

    /*tablet用のcssを記述*/
    /*
====================
オープニングアニメーション
====================
*/
    .sp {
        display: block;
    }


    .op_title {
        width: 90%;
        margin-top: 45vh;
        margin-left: 5%;
        text-align: center;
        font-weight: 700;
        font-size: 12vw;
        letter-spacing: 0.5vw;
        line-height: 10vw;
    }



    .op_subtitle {
        width: 90%;
        margin-left: 5%;
        text-align: center;
        font-size: 4vw;
        font-weight: bold;
        letter-spacing: 0.5vw;
    }


    /*
====================
オープニングアニメーションここまで
====================
*/
    s footer a i {
        font-size: 32px;
        margin: 1vw;
    }

    .cart i {
        font-size: 5vw !important;
    }


    .header_logo {
        width: auto;
        height: 30px;
        margin-left: 10vw;
        margin-top: 10px;
    }

    .header_menu {
        display: none;

    }

    .header_right {
        margin-right: 100px;
        display: none;
    }

    .news_container {
        margin-top: 30vw;
    }

    /*
====================
NEWS一覧
====================
*/
    .news_container {
        width: 80vw;
        margin: 26vw 10vw 10vw 10vw;

    }

    .news_all {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .news_all a {
        width: 100%;

    }

    .news {
        width: 50%;
        border-radius: 2vw;
        margin-bottom: 5vw;
        -webkit-transition: all .3s;
        transition: all .3s;
    }

    .news:hover {
        -webkit-box-shadow: 0px 0px 6px 6px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0px 0px 6px 6px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 0px 6px 6px rgba(0, 0, 0, 0.1);
    }



    .image_box {
        width: 30vw;
        height: 30vw;
        border: 1px solid rgba(0, 0, 0, 0.2);
        display: flex;
        align-items: center !important;
    }

    .image_box img {
        width: 100%;

    }



    .page_nation {
        width: 50%;
        text-align: center;
        margin: 0 20%;
    }




    .page_number {
        font-size: 2vw;
        font-weight: 100;
        margin: 0;
    }

    /*
====================
NEWS一覧ここまで
====================
*/

    /*
====================
NEWS詳細ページ
====================
*/



    .detail_title {
        text-align: center;
        font-size: 3.5vw;
    }

    .detail_image {
        text-align: center;
        margin-top: 7vw;
        margin-bottom: 6.5vw;
    }

    .detail_image img {
        width: 90%;
    }

    .detail_text {
        width: 100%;
        font-size: 1.2vw;
        line-height: 4.5vw;
    }

    /*
====================
NEWS詳細ページここまで
====================
*/





    /*
====================
ABOUT
====================
*/




    .section_title {
        text-align: center;
        font-size: 18px;
        margin-bottom: 4vw;
        letter-spacing: 4px;
    }

    .section_subtitle {
        font-size: 2.9vw;
        margin-bottom: 7vw;
        font-weight: 900;
        font-family: serif;

    }

    .section_text {
        line-height: 4.2vw;
        font-size: 1.0vw;
        margin-bottom: 2vw;
    }

}


/*
====================
ABOUTここまで
====================
*/














































@media screen and (min-width:1024px) {

    /*pc用のcssを記述*/
    .menu {
        display: none;
    }

    .sp_return {
        display: none;
    }

    .menu-trigger {
        display: none;
    }

    .menu_text {
        display: none;
    }

    .next-arrow,
    .prev-arrow,
    .slide-arrow,
    .slick-arrow {
        display: none !important;
    }

}

/*
====================
レスポンシブここまで
====================*/
