
<div class="detail_container">
        <div class="detail_inner">
            <div class="detail_title font02">{{ article.title }}</div>
            <div class="detail_date font01">{{ article.published_at | date: "%Y.%m.%d " }}</div>
         
            <div class="detail_image">
                <img src="{{ article.image.src | img_url: '500x' }}" alt="">
            </div>
            <div class="detail_text font02">
                {{ article.content }}
            </div>
        </div>
</div>
