<section class="slider">
    
    <ul class="slider-wrap">
      <li class="slider-item01 slider-item">
        <div class="copy_area">
        </div>
      </li>
      <li class="slider-item02 slider-item">
        <div class="copy_area">
        </div>
      </li>
      <li class="slider-item03 slider-item">
        <div class="copy_area">
        </div>
      </li>
      <li class="slider-item04 slider-item">
        <div class="copy_area">
        </div>
      </li>
    </ul>

</section>

<div class="section">

  <div class="sliderArea w300">
    <div class="vertical-center slider">
      <div><img src="{{ 'IMG_0034a.jpg' | asset_img_url: '3000x'}}" alt="125naroom"></div>
      <div><img src="{{ 'IMG_0038a.jpg' | asset_img_url: '3000x'}}" alt="125naroom"></div>
      <div><img src="{{ 'IMG_0054.jpg' | asset_img_url: '3000x'}}" alt="125naroom"></div>
      <div><img src="{{ 'IMG_0095a_edited.jpg' | asset_img_url: '3000x'}}" alt="125naroom"></div>
    </div>
  </div>
</div>




  {% section 'index-collection' %}

  {% section 'index_popular' %}

<!--コレクションコメントアウト
  <section class="sec04 sec ">
    <div class="items-wrapper flex">
      <a href="product.html" class="item">
        <div class="item__content">
          <h3>NEW COLLECTION</h3>
          <div class="Btn bgleft bgleft03">
            <span>もっと見る</span>
          </div>
        </div>
      </a>

      <a href="product.html" class="item">
        <div class="item__content">
          <h3>NEW COLLECTION</h3>
          <div class="Btn bgleft bgleft03">
            <span>もっと見る</span>
          </div>
        </div>
      </a>

      <a href="product.html" class="item">
        <div class="item__content">
          <h3>NEW COLLECTION</h3>
          <div class="Btn bgleft bgleft03">
            <span>もっと見る</span>
          </div>
        </div>
      </a>

      <a href="product.html" class="item">
        <div class="item__content">
          <h3>NEW COLLECTION</h3>
          <div class="Btn bgleft bgleft03">
            <span>もっと見る</span>
          </div>
        </div>
      </a>

      <a href="product.html" class="item">
        <div class="item__content">
          <h3>NEW COLLECTION</h3>
          <div class="Btn bgleft bgleft03">
            <span>もっと見る</span>
          </div>
        </div>
      </a>

    </div>
  </section>
  コレクションコメントアウト-->


{% section 'index_limited'%}
{% section 'index_special' %}


<!--  <div class="category">
    <ul class="category__items">
      <li class="category__item">
        <a href="#" class="flex item__link">
          <img src="img/houseImage.jpg" alt="">
          <div class="item__txt"><span>オンライン限定</span></div>
        </a>
      </li>
      <li class="category__item">
        <a href="#" class="flex item__link">
          <img src="img/specialLineup.jpg" alt="">
          <div class="item__txt"><span>サイドメニュー</span></div>
        </a>
      </li>
      <li class="category__item">
    </ul>
  </div> -->
