<div class="mv"></div>
    <div class="opening">
        <div class="op_title font01">Free yourself</div>
        <div class="op_subtitle font02">本来のあなたを解放してあげよう</div>
    </div>
    {% section 'index_products'%}
    {% section 'index_news' %}