<div class="section_container">
        <div class="section_inner">
            <div class="section_title font01">INTRODUCTION</div>
            <div class="section_subtitle font02">Free yourself <br class="sp_return">本来のあなたを解放してあげよう</div>
            <div class="section_text font02">
                『移動が運命の開拓と同義である』と思うのはアメリカ人だけではない。<br>
                見知らぬ土地へと旅する中で、真理に近づく感覚を得る。<br>
                勇気を出して予測のつかない、まだ見ぬ未来へ向かって進むことが、自由への近道だと信じる者にとって、<br>青い空と果てしなく続く 地平線は希望の道標なのかもしれない。<br>
                足を止めることのできない旅路の中で、心穏やかに過ごす自由なひととき。そこには何からも束縛されない、本来の自分を表現する場が存在する。<br><br class="sp">
            </div>
            <div class="section_text font02">
                2020年東京生まれ、ラフな着心地だけど上品でスタイリッシュな表情を持ち合わせた新たなファッションブランドDOUBLESIKS。<br>
                セドナの空のように、<br>
                自由でリラックスした空気をまとったウェア。<br>
                それを表現するのは見た目のデザインだけではなく、<br>
                肌に直接触れる生地の上質な肌触りや縫製からも感じられる。<br><br class="sp">
            </div>

            <div class="section_text font02">
                着る場所やシーンを選ばない大人のための普段着がメガシティTOKYOから発信される。<br>
            </div>
        </div>
    </div>