<div class="section_container">
        <div class="section_inner">
           <div class="section_title font02">返金・交換について</div>
            <div class="section_text font02">
                <span class="bold">ご注文完了後のキャンセルや返品・交換について</span><br>
                お客様都合によるキャンセル、返品、交換は承ることができません。<br>
                ご注文手続き完了時に確定となりますので、予めご了承ください。
            </div>
            <div class="section_text font02">
                <span class="bold">返品・交換について</span><br>
                ◆返品・交換対象商品<br>
                ・商品に欠陥・不良が確認できる場合<br>
                ・お手元に届いた商品が注文した商品と異なる場合<br><br>
                
                ◆対象商品のご申告期限<br>
                ・商品到着後３日以内（土日祝除く）のご申告とさせていただきます。<br><br>
                
                ◆返品・交換対象外の商品<br>
                ・使用済み、お直しや洗濯、クリーニングされてると判断できる商品<br>
                ・お届けから３日以上経過した商品<br>
                ・水着、ピアス、アクセサリーなどの商品<br>
                ・製造過程により生じた匂い（染料など）のある商品<br>
                ・納品書/商品タグ/ラベル/袋/箱、その他付属品が破損または紛失している商品<br>
                ・商品の品質には注意を払っておりますが、細かいシワや畳みじわ、糸の飛び出しなどが生じることがございます。使用上問題がない場合は返品・交換の対象とはなりませんのでご注意ください。<br>

            </div>

            <div class="section_text font02">
                <span class="bold">返品・交換に関するお問い合わせ</span><br>
                下記項目を明記・添付のうえ<a class="section_link" href="{{pages['contact'].url}}">お問い合わせ</a>からご連絡をお願いします。<br><br>
                ①ご注文者様のお名前<br>
                ②注文番号
            </div>
            
            <div class="section_text font02">
                <span class="bold">完売商品のご返金対応について</span><br>
                返品商品が弊社に到着次第、ご返金手続きをさせていただきます。<br>
                返金手続きには、カード会社様のご都合により多少のお時間がかかる場合もございますので予めご了承いただきますようお願い申し上げます。<br><br>
                ※商品の返送費用は、弊社負担で承ります。着払いにてご返送いただけますようお願いいたします。<br>
                ※お受け取り拒否された場合は往復の送料をご請求させていただきますのでご了承ください。
            </div>
        </div>
    </div>