<div class="section_container">
        <div class="section_inner">
            <div class="section_title font02">Q&A</div>
            <div class="accordion font02">
                <div class="faq_q q1 no1_q">
                    <p>配送日時は指定できますか？</p>
                    <div class="faq_arrow q1">
                        <span class="arrow_q"></span>
                    </div>
                </div>
                <div class="faq_a font02">
                    <p>申し訳ございません。システムの都合上、指定日配達は承っておりません。</p>
                </div>

                <div class="faq_q q2">
                    <p>サイズやカラーの交換はできますか？</p>
                    <div class="faq_arrow q2">
                        <span class="arrow_q"></span>
                    </div>

                </div>
                <div class="faq_a font02">
                    <p>お客様都合によるサイズやカラーの変更は承ることができません。<br>
                    ご注文手続き完了時に確定となりますので、予めご了承ください。</p>
                </div>

                <div class="faq_q q3">
                    <p>不良品、注文した商品とは異なる商品が届きました。交換できますか？</p>
                    <div class="faq_arrow q3">
                        <span class="arrow_q"></span>
                    </div>

                </div>
                <div class="faq_a font02">
                    <p>ご迷惑をお掛けして申し訳ございません。<br>
                        お手数ですが、お名前・注文番号・ご要望（返品 or 交換）を明記した上、オンラインストア内にございますCONTACTにてお問い合わせください。
                    </p>
                </div>

                <div class="faq_q q4">
                    <p>返品できますか？</p>
                    <div class="faq_arrow q4">
                        <span class="arrow_q"></span>
                    </div>

                </div>
                <div class="faq_a font02">
                    <p>
                        お客様都合によるご返品（色やサイズの買い間違い・イメージ違い等）はお断りしております。<br>
                        商品ページに記載の価格や、イメージ写真、サイズ詳細などご確認の上ご注文くださいますようお願い申し上げます。<br><br>
                         
                        詳細は返品・交換についてをご覧ください。<br>
                    </p>
                </div>

                <div class="faq_q q5">
                    <p>注文した商品のキャンセルや変更はできますか？</p>
                    <div class="faq_arrow q5">
                        <span class="arrow_q"></span>
                    </div>

                </div>
                <div class="faq_a font02">
                    <p>ご注文確定後の変更・キャンセルは一切お受け出来かねますので、ご購入の前にいま一度ご注文内容をご確認ください。 予約商品に関しても変更・キャンセルはお受け出来かねますので、配送時期のご確認を必ずお願いいたします。 注文内容を確認する場合は注文履歴ページよりご確認ください。（※ログインが必要となります。）</p>
                </div>

                <div class="faq_q q6">
                    <p>配送先の住所を変更したい場合はどうすればいいですか？</p>
                    <div class="faq_arrow q6">
                        <span class="arrow_q"></span>
                    </div>

                </div>
                <div class="faq_a font02">
                    <p>◇既にご注文済みのお客様<br>
                        ご注文後の配送先変更は、管理者システムでのみ変更が可能ですので、<br>
                        お手数ですが「doublesiks@unif.co.jp」までご連絡下さい。<br>
                        （連絡がなく、希望ではないご住所に届いた場合の転送にかかる料金は全てお客様のご負担となります。）</p>
                </div>

                <div class="faq_q q7">
                    <p>支払い・決済の方法</p>
                    <div class="faq_arrow q7">
                        <span class="arrow_q"></span>
                    </div>

                </div>
                <div class="faq_a font02">
                    <p>お支払いに関しては現金でのお振込み、商品着払い、各種電子マネー決済でご対応しております。</p>
                </div>

                <div class="faq_q q8">
                    <p>直営の店舗はありますか？</p>
                    <div class="faq_arrow q8">
                        <span class="arrow_q"></span>
                    </div>

                </div>
                <div class="faq_a font02">
                    <p>申し訳ございません。現在は店舗展開しておりません。販売はこちらのオフィシャルECサイトのみで販売を行っております。</p>
                </div>

                <div class="faq_q q9">
                    <p>商品に関する問い合わせはどのようにすればいいですか？</p>
                    <div class="faq_arrow q9">
                        <span class="arrow_q"></span>
                    </div>

                </div>
                <div class="faq_a font02">
                    <p>オンラインストア内にございますCONTACTにてお問い合わせください</p>
                </div>



            </div>
        </div>

    </div>