<div class="section_container">
        <div class="section_inner">
            <div class="section_title font02">特定商取引法に基づく表記</div>
            <div class="section_text font02">
                <span class="bold"></span><br>

            </div>

            <div class="section_text font02">
                <span class="bold">販売事業者</span><br>
                株式会社ユニフ
            </div>

            <div class="section_text font02">
                <span class="bold">運営責任者</span><br>
                代表取締役宮内厚典
            </div>


            <div class="section_text font02">
                <span class="bold">所在地</span><br>
                〒150-000<br>
                東京都渋谷区神宮前4-3-15<br>
                東京セントラル表参道ビル301号室
            </div>

            <div class="section_text font02">
                <span class="bold">電話番号</span><br>
                03-6277-0825<br>
                ※お客様からの商品に関するお問い合わせは電話では受け付けておりません。<br>
                大変申し訳ありませんが、お問い合わせについては「お問い合わせ」フォームよりメールにてご連絡をお願いします。

            </div>

            <div class="section_text font02">
                <span class="bold">メールアドレス</span><br>
                doublesiks@unif.co.jp
            </div>

            <div class="section_text font02">
                <span class="bold">URL</span><br>
                <a href="http://doublesiks.com">http://doublesiks.com</a>
            </div>

            <div class="section_text font02">
                <span class="bold">販売価格について</span><br>
                販売価格は各商品ページをご参照ください。<br>
                表示された(金額表示価格+消費税)と致します。<br>
                なお、別途配送料が掛かります。
            </div>

            <div class="section_text font02">
                <span class="bold">代金以外に必要な料金</span><br>
                配送料一律880円(税込)/沖縄・北海道1400円(税込)<br>
                他消費税、他通信料金。<br><br>

                ◆宛先不明や長期不在で、荷物を受け取れなかった場合<br>
                ・運送会社のお荷物保管期間は約1週間~10日程です。<br>
                ・保管期間を過ぎたお荷物は、お受け取り辞退となり当店へ返品されます。<br>
                ・返品時には通常運賃(着払い)での返品送料が個数分発生し、その際の往復分の送料は実費を、ご請求させて頂きますのでご注意ください。<br>
                ・一度お受け取り辞退となった商品の再送をご希望の場合は、返品送料とは別に再送料が発生致します。<br>
                ・長期のご不在・受取拒否等vで商品が弊社へ返送、その後キャンセル等の場合は、その際の往復分の送料は実費を、ご請求させて頂きますのでご注意ください。<br>
                ※ご住所不明などで、お届けできない場合も対象となります※<br>
                ・ご注文時には番地や部屋番号等を、必ずご確認のうえご住所をご登録下さい。<br>
                ・引越し等で住所が変更になった場合はお問い合わせフォームより新しいご住所をご連絡お願いします。
            </div>

            <div class="section_text font02">
                <span class="bold">お支払い方法</span><br>
                クレジットカード決済<br>
                VISA/MASTER/AMEX<br>
                ※お支払い回数は1回払いとなります。<br>
            </div>

            <div class="section_text font02">
                <span class="bold">お支払い時期</span><br>
                商品注文時点でお支払いが確定致します。
            </div>

            <div class="section_text font02">
                <span class="bold">商品引渡し時期
                </span><br>
                通常ご注文していただいてから2,3日での発送となります。(土日祝日除く)<br>
                なお予約商品の場合、ご注文より3ヶ月以内でのお届けとなります。<br>
                天候不順・配送業者の都合・その他何らかの理由により遅延する場合はメール等でお知らせいたします。<br>
                予約商品は通常商品とはお届け日が異なるため、各商品詳細ページをご覧ください。

            </div>


            <div class="section_text font02">
                <span class="bold">返品・交換について</span><br>
                お客様都合による返品・交換につきましては一切ご対応致しかねます。<br>
                詳しくは<a class="section_link a_under" href="{{pages['返品-交換'].url}}">返品・交換について</a>をご確認ください。
            </div>


            <div class="section_text font02">
                <span class="bold">不良品について</span><br>
                「不良品・当社の商品の間違え」の場合は、当社が配送料・手数料を負担し、返品・交換を承ります。<br>
                配送途中の事故による破損、着用前の破れ・傷等ございましたら、お問い合わせよりご連絡ください。<br>
                ※商品受け取り日より3日以内(土日祝を除く)に、欠陥であることを証明できる画像(商品全体及び、欠陥の拡大画像)を添付し、お問い合わせをお願い致します。<br>
                ※交換の際、在庫が無い商品につきましてはご返金させていただきます。<br>
                ※返品の際は、納品書を含む配送された全てのものをご返送ください。商品タグは切らず、お送りしている状態のままご返送ください。<br>
                タグや箱がない場合、交換・返品の対象とはなりませんのでご注意ください。<br>
                ※事前のご連絡がなく、お客様のご都合で商品を返送された場合、大変申し訳ありませんが、着払いにてお戻しさせていただきます。<br>
                ※お受け取り拒否をされた場合は商品代金及び往復の送料をご請求させていただきますのでご了承ください。
            </div>




        </div>
    </div>

