

  <main class="aboutUs">
{% section 'aboutUs_special' %}



    <h2 class="subHeadline">店舗情報</h2>
    
  <section class="aboutUs__sec01 sec">

    <div class="shops">
      <a href="https://tabelog.com/tokyo/A1312/A131205/13003075/" class="shop">
        <img src="{{ 'shinozaki_honten_big.png' | asset_img_url: 'original'}}" alt="">
        <div class="shop__info">
          <h2>焼肉ジャンボ　篠崎本店</h2>
          <p class="tel">TEL： 080-9606-6011</p>
          <p class="workTime">営業時間：<span>11:00~21:00(LO20:00)</span></p>
          <p class="holiday">定休日：水曜日</p>
       
        </div>
      </a>
      <a href="https://tabelog.com/tokyo/A1310/A131004/13110601/" class="shop">
        <img src="{{ 'hongoh_big.png' | asset_img_url: 'original'}}" alt="">
        <div class="shop__info">
          <h2>焼肉ジャンボ　本郷店</h2>
          <p class="tel">TEL： 080-9606-6011</p>
          <p class="workTime">営業時間：<span>11:00~21:00(LO20:00)</span></p>
          <p class="holiday">定休日：水曜日</p>
        </div>
      </a>
      <a href="https://tabelog.com/tokyo/A1316/A131602/13026377/" class="shop">
        <img src="{{ 'shirogane_big.png' | asset_img_url: 'original'}}" alt="">
        <div class="shop__info">
          <h2>焼肉ジャンボ　白金店</h2>
          <p class="tel">TEL： 080-9606-6011</p>
          <p class="workTime">営業時間：<span>11:00~21:00(LO20:00)</span></p>
          <p class="holiday">定休日：水曜日</p>
        </div>
      </a>
      <a href="https://tabelog.com/tokyo/A1310/A131004/13160962/" class="shop">
        <img src="{{ 'hanare_big.jpeg' | asset_img_url: 'original'}}" alt="">
        <div class="shop__info">
          <h2>焼肉ジャンボ　はなれ</h2>
          <p class="tel">TEL： 080-9606-6011</p>
          <p class="workTime">営業時間：<span>11:00~21:00(LO20:00)</span></p>
          <p class="holiday">定休日：水曜日</p>
        </div>
      </a>
    </div>
  </section>
  

  {% section 'index-collection' %}


  


  

</main>


