  <main class="product">
    

  <section class="sec sec03">
    <div class="popular_product flex">
      <div class="product__post">

        <div class="ProductImage">

          <ul class="gallery">
          {% assign images = product.media | where: "media_type", "image" %}
            {% for image in images %}
            <li><img src="{{ image | image_url }}" alt=""></li>
            {% endfor %}
          </ul>
          <ul class="choice-btn flex slideItemImage">
            {% for image in product.images %}
            <li><img src="{{ image.src | image_url: '1920x' }}" alt=""></li>
            {% endfor %}
          </ul>
        </div>
        
        
      </div>

      <div class="product__detail">
        <div class="product__detail__stickey">

          <div class="product__detail__main">
            <p class="maison">焼肉ジャンボ</p>
            <h2>ジャンボ特製シャバ臓焼</h2>
            <p class="price">¥2,700</p>
          </div>
          <div class="product__detail__text">
            <p>チョコレートをたっぷり使用し、小麦粉不使用でチョコレート・バター・卵のみでリッチに仕上げました。カカオニブとレアに焼き上げたガトーショコラの食感が絶妙。外はさっくり、中はとろりレアに。</p>
            <p>
              メゾンカカオのロングセラーの逸品。<br>
              お手土産や贈り物にも喜ばれます。
            </p>
            <a href="#">美味しい秘密はこちらから！</a>
            <p>
              ※以下の期間熨斗の対応をお断りさせていただいております。何卒ご了承頂きますようお願い申し上げます。<br>中止期間：2022年1月10日〜3月14日ご注文分
            </p>
            <p>
              ※ 住所不備、物流の状況、道路状況、天候、その他の事由によりご希望の到着日に沿いかねる場合がございます。余裕をもったご到着日のご指定をお勧めしております。
            </p>
          </div>
          <div class="share flex">
            <p class="mini">シェア</p>
            <a href="#"></a>
            <a href="#"></a>
            <a href="#"></a>
          </div>
          <form action="#" class="product__wrap">
          <label for="#">お渡し用袋</label>
          <select name="" id="">
            <option value="不要">不要</option>
            <option value="要">要</option>
          </select>
        </form>
        <div class="counter">
          <span><i class="fas fa-minus"></i></span>
          <span>1</span>
          <span><i class="fas fa-plus"></i></span>
        </div>
        <button href="#" class="Btn02 bgleft02">
          <span>カートに追加する</span>
        </button>
        <p class="alert">あと<span>7時間0分</span>以内のご注文確定で3月02日（水）〜3月03日(木)の間に商品を受け取る</p>
      </div>
      </div>
    </div>

  </section>

{% section 'index-collection' %}

  
  



</main>



